.list {
  text-decoration: none;
  z-index: 20;
  margin: 50px 10px 10px 10px;
  z-index: 20;
}
.link {
  text-decoration: none;
  box-shadow: none;
}
.link:hover:active:visited {
  color: rgb(30, 162, 196);
}
.article {
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.imgList {
  width: 125px;
  color: rgb(30, 162, 196);
  border-color: rgb(30, 162, 196);
  border: solid 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-decoration: none;
}
.imgList {
  cursor: url("../../images/buena\ \(1\).png"), auto;
}

.fadeOut .text {
  opacity: 2;
  transition: 1s ease;
}

.fadeOut .text :hover {
  opacity: 0.5;
  transition: 1s ease;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  align-items: center;
  background-color: rgb(11, 122, 150);
  color: white;
  height: 60px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.grow .imgList {
  transition: 1s ease;
}

.grow .imgList:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
