.containForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 150px;
  cursor: pointer;
  margin-top: 10px;
}
@media all and (min-width: 768px) {
  .reset {
    width: 300px;
    font-size: 20px;
    cursor: pointer;
  }
}
@media all and (min-width: 768px) {
  .reset {
    width: 400px;
    font-size: 22px;
    cursor: pointer;
  }
}
