.containName {
  background-color: rgb(0, 0, 0);
  position: relative;
  z-index: 20;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zen Dots";
  font-size: 13px;
  height: 30px;
  width: 320px;
  border: solid 2px rgb(63, 63, 206);
  cursor: pointer;
}
.inputName {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid 2px rgb(125, 137, 189);
  position: relative;
  z-index: 20;
}
.searchName {
  color: rgb(7, 7, 7);
  background-color: white;
  font-family: "Kenia", cursive;
  position: relative;
  z-index: 20;
  border: solid 2px rgb(172, 172, 211);
}
.collapsed {
  display: none;
}
@media all and (min-width: 768px) {
  .containName {
    font-size: 16px;
    height: 40px;
    width: 768px;
  }
  .inputName {
    height: 70px;
  }
  .searchName {
    width: 200px;
    height: 25px;
    font-size: 16px;
  }
}
@media all and (min-width: 1200px) {
  .containName {
    font-size: 18px;
    height: 45px;
    width: 1200px;
  }
  .inputName {
    height: 75px;
  }
  .searchName {
    width: 400px;
    height: 30px;
    font-size: 20px;
  }
}
