.containStatus {
  background-color: rgb(0, 0, 0);
  position: relative;
  z-index: 20;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zen Dots";
  font-size: 13px;
  height: 30px;
  width: 320px;
  border: solid 2px rgb(63, 63, 206);
  cursor: pointer;
}
.selectStatus {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid 2px rgb(125, 137, 189);
}
.searchStatus {
  color: rgb(252, 252, 252);
  background-color: white;
  font-family: "Kenia", cursive;
  position: relative;
  z-index: 20;
  border: solid 2px rgb(172, 172, 211);
}

.collapsed {
  display: none;
}
@media all and (min-width: 768px) {
  .containStatus {
    font-size: 16px;
    height: 40px;
    width: 768px;
  }
  .selectStatus {
    height: 70px;
  }
}
@media all and (min-width: 1200px) {
  .containStatus {
    font-size: 18px;
    height: 45px;
    width: 1200px;
  }
  .selectStatus {
    height: 80px;
  }
}
