.header {
  height: 250px;
  background-image: url(../../images/4ea7fb833c63a4ea0b0fb696c5919dd7.png);
  background-size: 450px 250px;
  background-position: center;
  position: relative;
}
.logo {
  width: 100px;
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

.pulse {
  animation: pulse-animation 3s infinite;
}
@keyframes pulse-animation {
  0% {
    width: 100px;
  }
  100% {
    width: 200px;
  }
  0% {
    width: 100px;
  }
}
