.header {
  height: 250px;
  background-image: url(../../images/4ea7fb833c63a4ea0b0fb696c5919dd7.png);
  background-size: 450px 250px;
  background-position: center;
  position: relative;
}
.logo {
  width: 100px;
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

.pulse {
  animation: pulse-animation 3s infinite;
}
@keyframes pulse-animation {
  0% {
    width: 100px;
  }
  100% {
    width: 200px;
  }
  0% {
    width: 100px;
  }
}

@media all and (min-width: 768px) {
  .header {
    height: 400px;
    background-size: 900px 400px;
  }
  .logo {
    width: 300px;
    top: 30%;
  }
  @keyframes pulse-animation {
    0% {
      width: 300px;
    }
    100% {
      width: 500px;
    }
    0% {
      width: 300px;
    }
  }
}
@media all and (min-width: 1200px) {
  .header {
    height: 420px;
    background-size: 994px 420px;
  }
  .logo {
    width: 350px;
    top: 28%;
  }
  @keyframes pulse-animation {
    0% {
      width: 350px;
    }
    100% {
      width: 550px;
    }
    0% {
      width: 350px;
    }
  }
}
